[movieapp_servers]
34.227.115.206

[movieapp_servers:vars]
ansible_user=ec2-user
ansible_ssh_private_key_file=C:\Users\pavit\Downloads\ec2_key.pem
ansible_python_interpreter=/usr/bin/python3
build_number=1