[movieapp_servers]
${ec2_public_ip}

[movieapp_servers:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=/mnt/c/Users/pavit/.ssh/ec2_key.pem
ansible_python_interpreter=/usr/bin/python3
docker_registry=${DOCKER_REGISTRY}
build_number=${BUILD_NUMBER}
